body {
  color: #5C5C5C;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.new_question form, .edit_question form {
  margin: 0 auto;
}

.new_question input, .edit_question input {
  width: 400px;
  margin-top: 30px;
}

.new_question textarea, .edit_question textarea {
  width: 400px;
  margin-top: 30px;
}

nav {
  margin-top: -16px;
  width: 100%;
  height: 40px;
  background-color: #D6D6D6;
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 10px 15px;
}

ul {
  list-style: none;
  margin-left: 0em;
  margin-right: 0em;
  padding: 0;
}

nav ul {
}

section.question_holder {
  width: 100%;
  background-color: #94DE90;
  border-radius: 0.25em;
}

section.question_holder article {
  padding: 2em 1em;
  margin: 1em 0em;
}

ul.answer_feed {
  width: 100%;
  padding: 0;
}

ul.answer_feed li {
  padding: 2em 1em;
  background-color: #94DE90;
  margin: 1em 0em;
  border-radius: 0.25em;
}

ul.answer_feed li div {
  display: inline-block;
}

h4 {
  margin: 0.5em 0em;
}

ul.answer_comments_holder li {
  padding: 0;
}

ul.answer_feed li p, p.question_info {
  font-size: 0.8em;
}



a {
  text-decoration: none;
  color: #0C6B07;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: black;
}

input {
  display: block;
}

.hidden {
  display: none;
}

p.new_answer_errors {
  color: #40DB40;
}

ul.question_comments_holder li {
  font-size: 0.8em;
}

input[type="submit"] {
  border: none;
  background-color: #0C6B07;
  color: #D6D6D6;
  padding: 0.5em;
  border-radius: 0.25em;
}

.vote_count h2 {
  margin: 2px;
}

.non_vote_content {
  width: 70%;
}

.question_votes {
  position: relative;
  top: -151px;
  left: 70%;
  display: block;
  width: 15%;
}

.question_votes form {
  position: relative;
  left: 20%;
  text-align: center;
}


.answer_votes {
  position: relative;
  top: -51px;
  display: block;
  width: 15%;
}

.answer_votes form {
  position: relative;
  left: 20%;
  text-align: center;
}

.vote_count {
  position: relative;
  left: 40%;
}

@media (max-width: 700px) {

  .new_question input, .edit_question input {
    width: 100%;
  }

  .new_question textarea, .edit_question textarea {
    width: 100%;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .non_vote_content {
    width: 100%;
  }

  .question_votes {
    position: relative;
    top: 2em;
    left: 0;
    display: block;
    width: 100%;
  }

  .question_votes form {
    position: relative;
    left: 0;
    text-align: center;
  }

  .answer_votes {
    position: relative;
    top: 2em;
    display: block;
    width: 100%;
  }

  .answer_votes form {
    position: relative;
    left: 0;
    text-align: center;
  }

  .vote_count {
    position: relative;
    left: 45%;
  }

  ul.answer_feed li div {
    display: block;
  }
}

@media (max-width: 320px) {

  body {
    width: 100%;
    overflow: hidden;
  }

  nav {
    height: 100px;
    text-align: center;
  }

  nav ul {
    padding: 0;
  }
  nav li {
    padding: 2px;
    display: block;
  }

  section.answer_holder {
    width: 100%;
    margin-right: -20px;
  }

}