.container {
  width: 80%;
  margin: 0 auto;
}

article.question_holder {
  width: 60%;
  padding: 3em;
  background-color: #E3CEA6;
  border-radius: 0.25em;
}
ul {
  list-style: none;
  margin-left: 0em;
}


nav li {
  display: inline;
}

ul.answer_feed {
  width: 60%;
}

ul.answer_feed li {
  padding: 3em 5em;
  background-color: #F2C777;
  margin: 1em 0em;
  border-radius: 0.25em;
}

ul.answer_feed li p, p.question_info {
  font-size: 0.8em;
}



a {
  text-decoration: none;
  color: orange;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: black;
}

input {
  display: block;
}

.hidden {
  display: none;
}

p.new_answer_errors {
  color: #40DB40;
}